<?xml version="1.0" standalone="no" ?>
<!-- Configuration Parmeters -->
<!-- ALSAVolumeControlName --PCM-- for Raspberry PI --Master-- for VMWARE use amixer to get the correct value -->
<airportAddress>192.168.19.4</airportAddress>
<logfilename>/home/jdellaria/Desktop/logPlayMusic.txt</logfilename>
<logvalue>logDebug</logvalue>
<logprintscreen>true</logprintscreen>
<logprintfile>true</logprintfile>
<logprinttime>true</logprinttime>
<playContinuous>true</playContinuous>
<ALSAVolumeControlName>PCM</ALSAVolumeControlName>